@font-face {
    font-family: "San Francisco";
    src: url("../fonts/SF-Pro-Display-Black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "San Francisco";
    src: url("../fonts/SF-Pro-Display-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "San Francisco";
    src: url("../fonts/SF-Pro-Display-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "San Francisco";
    src: url("../fonts/SF-Pro-Display-Medium.otf");
    font-weight: 300;
}

@font-face {
    font-family: "San Francisco";
    src: url("../fonts/SF-Pro-Display-Light.otf");
    font-weight: lighter;
}

@font-face {
    font-family: "San Francisco";
    src: url("../fonts/SF-Pro-Display-Ultralight.otf");
    font-weight: 100;
}

body{
    font-family: "San Francisco" !important;
    overflow-x: hidden;
    background-color: #f8f9fa !important;
    color: #5A6785 !important;
}

#main {
    background: none;
}

main{
    background-image: url('../img/main-bg-min.png') !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

#sub-footer{
    background: none;
    color: #333;
    padding: 60px 0 35px 0;
}

.btn-subscribe {
    background-color: #7632ff !important;
}

.subscribe-title {
    font-family: "San Francisco";
}

.flip-clock-wrapper ul li a div div.inn {
    color: #333 !important;;
    text-shadow: 0 1px 2px #fff !important;;
    background-color: #fff !important;
    font-weight: 100 !important;
}

.flip-clock-dot {
    background: #fff !important;
}


.currencies-item {
    background-color: #fff!important;
    color: #5B39E9!important;
}

.text-dark {
    color: #132C66!important;
}

.flip-clock-label {
    font-size: 2em;
    color: #fff !important;
    font-weight: 200;
}



html {
    overflow-x: hidden;
}

.token-details {
    padding : 1.2rem;
    border-radius : 0.35rem;
    /* Flip Clock */
    /* Progress bar */
}
.token-details .clock-counter .flip-clock-wrapper ul.flip {
    margin : 3px;
    -webkit-box-shadow : none !important;
    box-shadow : none !important;
}
.token-details .clock-counter .flip-clock-divider {
    width : 12px;
}
.token-details .clock-counter .flip-clock-divider .flip-clock-dot {
    width : 6px;
    height : 6px;
    left : 3px;
}
.token-details .progress {
    background : rgba(91,57,233, .18);
    border : 4px solid transparent;
    border-radius : 1rem;
    height : 1.5rem;
    overflow : initial;
}

.token-details .progress-bar-custom {
    border-radius : 1rem;
    height : 1rem;
    background : #893EE8;
    -webkit-box-shadow : 2px 0 7px 0 rgba(0, 0, 0, 0.35);
    box-shadow : 2px 0 7px 0 rgba(0, 0, 0, 0.35);
}
.token-details .progress-top {
    position : absolute;
    top : -1.8rem;
    display : -webkit-box;
    display : -webkit-flex;
    display :    -moz-box;
    display : -ms-flexbox;
    display :         flex;
    -webkit-box-align : stretch;
    -webkit-align-items : stretch;
    -moz-box-align : stretch;
    -ms-flex-align : stretch;
    align-items : stretch;
    /* Default */
    -webkit-box-pack : justify;
    -webkit-justify-content : space-between;
    -moz-box-pack : justify;
    -ms-flex-pack : justify;
    justify-content : space-between;
    width : 100%;
    color : #333;
    padding : 0 1rem;
}
.token-details .progress-top li {
    display : block;
    -webkit-box-flex : 0;
    -webkit-flex : 0 1 auto;
    -moz-box-flex : 0;
    -ms-flex : 0 1 auto;
    flex : 0 1 auto;
    /* Default */
    font-size : 0.75rem;
}
.token-details .progress-top li.pre-sale {
    position : relative;
    left : 0.75rem;
}
.token-details .progress-top li.bonus {
    position : relative;
    right : 1rem;
}
.token-details .progress-bars {
    position : absolute;
    top : -1.1rem;
    display : -webkit-box;
    display : -webkit-flex;
    display :    -moz-box;
    display : -ms-flexbox;
    display :         flex;
    -webkit-box-align : stretch;
    -webkit-align-items : stretch;
    -moz-box-align : stretch;
    -ms-flex-align : stretch;
    align-items : stretch;
    /* Default */
    -webkit-box-pack : justify;
    -webkit-justify-content : space-between;
    -moz-box-pack : justify;
    -ms-flex-pack : justify;
    justify-content : space-between;
    width : 100%;
    color : #333;
    padding : 0 1rem;
}
.token-details .progress-bars li {
    display : block;
    -webkit-box-flex : 0;
    -webkit-flex : 0 1 auto;
    -moz-box-flex : 0;
    -ms-flex : 0 1 auto;
    flex : 0 1 auto;
    /* Default */
}
.token-details .progress-bottom {
    position : relative;
    top: 10px;
    display : -webkit-box;
    display : -webkit-flex;
    display :    -moz-box;
    display : -ms-flexbox;
    display :         flex;
    color : #333;
    -webkit-box-align : stretch;
    -webkit-align-items : stretch;
    -moz-box-align : stretch;
    -ms-flex-align : stretch;
    align-items : stretch;
    /* Default */
    -webkit-box-pack : justify;
    -webkit-justify-content : space-between;
    -moz-box-pack : justify;
    -ms-flex-pack : justify;
    justify-content : space-between;
    width : 100%;
    padding : 0 1rem;
}
.token-details .progress-bottom .progress-info {
    display : block;
    -webkit-box-flex : 0;
    -webkit-flex : 0 1 auto;
    -moz-box-flex : 0;
    -ms-flex : 0 1 auto;
    flex : 0 1 auto;
    font-size : 0.75rem;
}

.token-details .label,
.token-details .value {
    display: block;
}

.token-details .title {
    font-weight: bolder;
}

.token-details .label {
    font-weight: normal;
}

.token-details .value {
    font-weight: lighter;
}



/* Roadmap section : Roadmap active area, buttons, and content */
.roadmap .roadmap-container {
    position : relative;
}

.roadmap .swiper-container {
    width : 90%;
    height : 100%;
}

.roadmap .swiper-slide {
    text-align : center;
    font-size : 18px;
    width : 200px;
    border-top : 4px solid #FBD108;
}
.roadmap .swiper-slide .roadmap-info {
    margin-top : 47px;
}
.roadmap .swiper-slide.active .roadmap-info {
    background-color: #9648E6;
    margin-top : 32px;
    padding : 15px 0 0;
    color : white;
    border-radius : 6px;
    -webkit-box-shadow : 0 10px 30px 0 rgba(62, 57, 107, 0.3);
    box-shadow : 0 10px 30px 0 rgba(62, 57, 107, 0.3);
}
.roadmap .swiper-slide.active .roadmap-info:after {
    content : '';
    display : block;
    position : absolute;
    top : 12px;
    left : 44%;
    bottom : 100%;
    width : 0;
    height : 0;
    border-bottom : 10px solid #9648E6;
    border-top : 10px solid transparent;
    border-left : 10px solid transparent;
    border-right : 10px solid transparent;
}
.roadmap .swiper-slide.active .live {
    display : block;
    background-color: #7632ff;
    padding : 8px 0;
    border-radius : 0 0 6px 6px;
    margin-top : 10px;
}

.roadmap .swiper.control {
    position : absolute;
}

.roadmap .next-slide, .roadmap .prev-slide {
    position : absolute;
    top : 0;
    display : inline-block;
    cursor : pointer;
    background-color: #7632ff;
    color : #FFFFFF;
    padding : 17px;
    border-radius : 50%;
    -webkit-box-shadow : 0 0 6px 0 rgba(255, 95, 43, 0.6);
    box-shadow : 0 0 6px 0 rgba(255, 95, 43, 0.6);
    z-index : 9;
}
.roadmap .next-slide:focus, .roadmap .prev-slide:focus {
    outline : none;
}

.roadmap .next-slide {
    right : 22px;
}
.roadmap .next-slide:before {
    content : '\f054';
    font-family : FontAwesome;
    position : absolute;
    top : 5px;
    left : 13px;
}

.roadmap .prev-slide {
    left : 22px;
}
.roadmap .prev-slide:before {
    content : '\f053';
    font-family : FontAwesome;
    position : absolute;
    top : 5px;
    left : 9px;
}

.roadmap .timeline {
    margin : 1rem 0 2rem 0;
    list-style-type : none;
    display : -webkit-box;
    display : -webkit-flex;
    display :    -moz-box;
    display : -ms-flexbox;
    display :         flex;
    padding : 0;
    text-align : center;
}

.roadmap .timestamp {
    margin-bottom : 10px;
    color : #3F3F3F;
    display : -webkit-box;
    display : -webkit-flex;
    display :    -moz-box;
    display : -ms-flexbox;
    display :         flex;
    -webkit-box-orient : vertical;
    -webkit-box-direction : normal;
    -webkit-flex-direction : column;
    -moz-box-orient : vertical;
    -moz-box-direction : normal;
    -ms-flex-direction : column;
    flex-direction : column;
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    font-weight : 100;
}
.roadmap .timestamp span {
    font-weight : 700;
    font-size : 0.875rem;
    line-height : 1.5rem;
}
.roadmap .timestamp span:before {
    content : '';
    width : 25px;
    height : 25px;
    background-color : white;
    border-radius : 25px;
    background : -webkit-linear-gradient(45deg, #FBD108, #9648E6);
    background :    -moz-linear-gradient(45deg, #FBD108, #9648E6);
    background :      -o-linear-gradient(45deg, #FBD108, #9648E6);
    background :         linear-gradient(45deg, #FBD108, #9648E6);
    border : none;
    position : absolute;
    top : -14px;
    left : 42%;
    -webkit-transition : all 200ms ease-in;
    -o-transition : all 200ms ease-in;
    -moz-transition : all 200ms ease-in;
    transition : all 200ms ease-in;
}
.roadmap .timestamp.completed span:before {
    content : '\f00c';
    font-family : FontAwesome;
    color : white;
    font-size : 0.75rem;
    line-height : 25px;
    background : -webkit-linear-gradient(45deg, #FBD108, #9648E6);
    background :    -moz-linear-gradient(45deg, #FBD108, #9648E6);
    background :      -o-linear-gradient(45deg, #FBD108, #9648E6);
    background :         linear-gradient(45deg, #FBD108, #9648E6);
    border : none;
    color : #FFFFFF;
}
.roadmap .timestamp.completed span:after {
    content : '';
    background-color : transparent;
}
.roadmap .timestamp.active span {
    color : #FFFFFF;
}
.roadmap .timestamp.active span:before {
    content : ' ';
    background : #7632ff;
    border : none;
    -webkit-box-shadow : 0 0 10px 0 #FF4137;
    box-shadow : 0 0 10px 0 #FF4137;
}

.roadmap .status {
    position : relative;
    -webkit-transition : all 200ms ease-in;
    -o-transition : all 200ms ease-in;
    -moz-transition : all 200ms ease-in;
    transition : all 200ms ease-in;
    line-height : 0;
}
.roadmap .status span {
    font-size : 0.875rem;
    line-height : 1.5rem;
    color : #7D7D7D;
}
.roadmap .status.active span {
    color : #FFFFFF;
}






#video_card {
    height: 450px;
    background-image: url(../img/video-bg-min.png);
    background-size: cover;
}

#augmented_card {
    height: auto;
    background-image: url(../img/augmented-bg-min.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.play-video {
    position: absolute;
    top: 38%;
    left: 42%;
    border-radius: 50%;
}

#augmented_card img {
    max-height: -webkit-fill-available;
    /*    margin-top: 10px;
        margin-right: -65px;*/
}

#liquidity_card img {
    max-height: -webkit-fill-available;
    /*
    margin-top: 10px;
    margin-left: 100px;
    */
}

#liquidity_card {
    background-image: url(../img/liquidity-bg-min.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

#liquidity_card h3,
#listen_section h3,
#augmented_card h3,
#augmented_card h4,
#safe_card h3,
#fast_card h3,
#mobile_card h3 {
    font-weight: bold;
}

#listen_section {
    background-image: url(../img/listen-bg-min.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

#listen_section img {
    max-height: -webkit-fill-available;
}




#safe_card {
    background-image: url(../img/safe-bg-min.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 65%;
}

#safe_card img {
    max-height: -webkit-fill-available;
}

#mobile_card {
    background-image: url(../img/mobile-bg-min.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

#mobile_card img {
    max-height: -webkit-fill-available;
}

#fast_card {
    background-image: url(../img/fast-bg-min.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

#fast_card img {
    max-height: -webkit-fill-available;
}

.card-body {
    padding-bottom: 0;
}

#safe_card .card-body {
    padding-right: 0;
}


@media only screen and (max-width: 500px) {
    .clock {
        zoom: 0.7;
    }
}

@media only screen and (max-width: 320px) {
    .clock {
        zoom: 0.6 !important;
    }

    .currencies-row {
        zoom: 0.9;
    }
}

@media only screen and (max-width: 460px) {
    #liquidity_card {
        background-position: -20px top;
    }

    #liquidity_card #content {
        float: right;
    }

    #fast_card {
        background: none;
    }
}


#sub-footer {
    padding: 0 0 35px 0;
}

#sub-footer .card-body {
    background-image: url(../img/footer-card-bg-min.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 150px;
}

#sub-footer .card-body .label,
#sub-footer .card-body .value {
    display: block;
}

#sub-footer .card-body .label {
    font-weight: bolder;
}


#whitepaper_card {
    background-image: url(../img/whitepaper-bg-min.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    height: 120px;
}

#whitepaper_card .label,
#whitepaper_card .value {
    display: block;
}

#whitepaper_card .label {
    font-weight: bolder;
}

#team .label,
#team .value {
    display: block;
}

#team .label {
    font-weight: bolder;
}

#team .member-left,
#team .member-right {
    display: inline-block;
}


.card {
    border: none;
}

#news .image,
#news .value,
#news .date {
    display: block;
}

#news .card {
    height: 200px;
    margin: 5px;
}

#news .date {
    font-weight: lighter;
}


@media (min-width: 1500px) {
    .ml-xl-6 {
        margin-left: 12rem!important;
    }
}

.nav-item {
    font-weight: 300;
}


h3, h4 {
    color: #132C66;
}


#team .value {
    font-size: 0.7em;
}


.play-video .play {
    padding: 1.300rem 1.7rem;
    height : 72px;
    width : 72px;
}
.play-video .play i {
    font-size : 2rem;
}

.play-video span {
    display : block;
    color : #7D7D7D;
    font-size : 0.875rem;
}

.ico-modal .close {
    position : absolute;
    right : 0;
    top : -30px;
    z-index : 999;
    font-size : 2rem;
    font-weight : normal;
    color : #FFFFFF;
    opacity : 1;
}

.navbar.mobile.open {
    background-color: #7632ff !important;
}


@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1024px) {
    .clock {
        zoom: 0.75;
        margin-left: 0 !important;
    }

    .flip-clock-label {
        color: #132C66 !important;
    }

    .accept-terms {
        color: #132C66 !important;
    }

    .register-title {
        color: #132C66 !important;
    }

}

.register-title,
.accept-terms {
    color: #fff;
}


.drop-shadow {
    -webkit-filter: drop-shadow(1px 1px 1px #333);
    filter: drop-shadow(1px 1px 1px #333);
}

.slogan-heading {
    font-size: 2rem !important;
}

.latoken-logo {
    max-height: 45px;
}

footer .fa {
     color: #333 !important;
}