<template>

</template>

<script>
    export default {
        name: "OrderBook",
        props:["activeCurrency"],
        mounted () {
            // Do something useful with the data in the template
            console.dir(this.activeCurrency)
        }
    }
</script>

<style scoped>

</style>