<template>
    <tr>
        <td><small>44,099.99</small></td>
        <td><small>0.00580046</small></td>
    </tr>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
