.body{
    background-color: transparent !important;
}
.onchart-tv-logo {
    display: none !important;
}
.loading-indicator{background: none !important; background-color: transparent !important;}


.header-chart-panel {
    background-color: transparent !important;
}

.chart-page {
    background: transparent !important;;
}

.chart-page .pane-legend-icon-container svg {
    fill: #9194a4!important;
}

.chart-page .tv-side-toolbar .tools-group .button {
    background-color: transparent !important;;
    border-color: #ffffff!important;;
}

.chart-page .tv-side-toolbar .tools-group .button .main.text-as-icon {
    color: #9194a4!important;;
}

.chart-page .tv-side-toolbar .tools-group .button svg {
    fill: #9194a4!important;;
}

.chart-page .tv-side-toolbar .tools-group .button.selected,
.chart-page .tv-side-toolbar .tools-group .button:hover,
.chart-page .tv-side-toolbar .tools-group .button:active {
    background-color: #9194a4!important;;
    border-color: #9194a4!important;;
}

.chart-page .tv-side-toolbar .tools-group .button.selected svg,
.chart-page .tv-side-toolbar .tools-group .button:hover svg,
.chart-page .tv-side-toolbar .tools-group .button:active svg {
    fill: #ffffff!important;;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .main.text-as-icon,
.chart-page .tv-side-toolbar .tools-group .button:hover .main.text-as-icon,
.chart-page .tv-side-toolbar .tools-group .button:active .main.text-as-icon {
    color: #ffffff!important;;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side,
.chart-page .tv-side-toolbar .tools-group .button:hover .side,
.chart-page .tv-side-toolbar .tools-group .button:active .side {
    border-left: 1px solid transparent!important;;
}

.chart-page .tv-side-toolbar .tools-group .button:active svg {
    fill: #9194a4!important;;
}

.chart-page .charts-popup-list {
    background-color: #ffffff!important;;
    color: #9194a4!important;;
    border-color: #9194a4!important;;
}

.chart-page .charts-popup-list .separator {
    border-top: 1px solid white!important;;
}

.chart-page .charts-popup-list .item {
    background-color: #ffffff!important;;
    color: #9194a4!important;;
}

.chart-page .charts-popup-list .item.active {
    background-color: #9194a4!important;;
    color: #ffffff!important;;
}

.chart-page .charts-popup-list .icon-wrap svg {
    fill: #9194a4!important;;
}

.chart-page .list-inner .item {
    background-color: #ffffff!important;;
}

.chart-page .list-inner .item.active {
    background-color: #9194a4!important;;
}

.chart-page .list-inner .item.active svg {
    fill: #ffffff!important;;
}

.chart-page .list-inner .item.active span.title {
    color: #ffffff!important;;
}

.chart-page .list-inner .item span.title {
    color: #9194a4!important;;
}

.chart-page .favored-list-container span:hover {
    background-color: rgb(219, 217, 217)!important;;
}

.chart-page .tv-floating-toolbar {
    background-color: #9194a4!important;;
    border:none !important;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag,
.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input {
    background-color: #ffffff!important;;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag svg,
.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input svg {
    fill: #9194a4!important;;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget {
    border-color: transparent !important;;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget svg {
    fill: #9194a4!important;;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget .bg {
    fill: transparent !important;;
}

.chart-page .apply-common-tooltip {
    background-color: transparent !important;;
    border: 1px solid transparent!important;
    color: #9194a4!important;;
}

.chart-page .apply-common-tooltip:before {
    border: 1px solid transparent!important;
}

.chart-page .apply-common-tooltip svg {
    fill: #9194a4!important;
}

.chart-page .layout__area--left [class^="drawingToolbar-"] {
    background: transparent !important;
}

.chart-page .layout__area--left [class^="separator-"] {
    opacity: .2!important;
}

.chart-page [class^="menu-"] {
    background: transparent !important;
}

.chart-page [class^="item-"] {
    background:transparent !important;
}

.chart-page [class^="labelRow-"],
.chart-page [class^="icon-"] {
    color: #9194a4!important;;
}

.chart-page [class^="labelRow-"] svg,
.chart-page [class^="icon-"] svg {
    fill: #9194a4!important;;
}

.chart-page [class*="isActive-"]:hover [class^="bg-"] {
    background: transparent !important;
}

.chart-page [class*="isActive-"] [class^="bg-"] {
    background: transparent !important;;
}

.chart-page .chart-controls-bar {
    background-color: transparent !important;;
}

.chart-page .tv-side-toolbar .tools-group .button:hover,
.chart-page .header-chart-panel .tools-group .button:hover {
    background-color: #9194a4!important;;
}

.chart-page .tv-side-toolbar .button:hover,
.chart-page .header-chart-panel .button:hover {
    background: #9194a4!important;;
}

.chart-page .tv-side-toolbar .group,
.chart-page .header-chart-panel .group {
    float: left!important;
}

.chart-page .tv-side-toolbar .group .button,
.chart-page .header-chart-panel .group .button {
    font-weight: normal!important;
    color: #9194a4!important;;
}

.chart-page .tv-side-toolbar .group .button svg,
.chart-page .header-chart-panel .group .button svg {
    fill: #9194a4!important;
}

.chart-page .tv-side-toolbar .group .button:hover,
.chart-page .tv-side-toolbar .group .button.selected,
.chart-page .header-chart-panel .group .button:hover,
.chart-page .header-chart-panel .group .button.selected {
    background: #9194a4!important;
    color: #ffffff!important;
}

.chart-page .tv-side-toolbar .group .button:hover svg,
.chart-page .tv-side-toolbar .group .button.selected svg,
.chart-page .header-chart-panel .group .button:hover svg,
.chart-page .header-chart-panel .group .button.selected svg {
    fill: #ffffff!important;
}

.chart-page .tv-side-toolbar .group .button:active,
.chart-page .header-chart-panel .group .button:active {
    color: #9194a4!important;
}

.chart-page .tv-side-toolbar .group .button:active svg,
.chart-page .header-chart-panel .group .button:active svg {
    fill: #9194a4!important;
}

.chart-page .tv-side-toolbar .header-group-fullscreen,
.chart-page .header-chart-panel .header-group-fullscreen {
    float: right!important;
    padding-right: 5px!important;
}

.chart-page .tv-side-toolbar .header-group-properties,
.chart-page .tv-side-toolbar .header-group-indicators,
.chart-page .header-chart-panel .header-group-properties,
.chart-page .header-chart-panel .header-group-indicators {
    float: none!important;
}

.chart-page .tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before {
    background: #9194a4!important;
}

.chart-page .button svg {
    fill: #9194a4!important;
}

.chart-page .tv-side-toolbar {
    border-right: none !important;
    background-color: transparent!important;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side {
    border-left: none;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side,
.chart-page .tv-side-toolbar .tools-group .button.selected .main {
    background: #9194a4!important;
}

.chart-page .chart-container {
    border: none !important;
}

.chart-page .tv-close-panel {
    background-color: white!important;
    border: none!important;
}

.chart-page .button {
    background-color: transparent !important;
    border:none !important;
}

.chart-page .button:hover {
    background-color: #9194a4!important;
}

.chart-page .button.selected,
.chart-page .button.active {
    background-color: transparent !important;
}

.chart-page .button.selected svg,
.chart-page .button.active svg {
    fill: #ffffff!important;
}

