.dark{
    background-color: #10161A !important;
    color:#bfccd6 !important;
}

.dark .navbar-nav{
    background-color:#10161A;
}
.dark .white-navbar{
    background-color: #10161A !important;
    border-bottom: 1px solid #182026 !important;
}

.dark #frmMarketBuy .innerLabel,
.dark #frmMarketSell .innerLabel{
    border: 1px solid #182026 !important;
    background-color: #202B33 !important;
    z-index: 5;
    color: #bfccd6 !important;
}

.dark .feature-title {
    color: #738694 !important;
    font-size: 18px;
}

.dark .feature-description {
    color: #bfccd6;
    font-size: 14px;
}

.dark .navbar-nav > li > a:hover {
    color:#738694 !important;
    background-color: #182026 !important;
}

.dark .card{
    background: #10161A !important;
    border: 1px solid #182026;
}

.dark .table tbody > tr td{
    border-bottom:none !important;
    border-top: none !important;

}
.dark .currency-table .table-head {
    background-color: transparent;
    color: #fff !important;
}

.dark .table-head {
    text-transform: uppercase;
    color: #9194a4 !important;
    position: relative;
    padding: 12px 15px;
    border: 0;
    border-bottom-style: none;
    border-bottom-width: 0px;
    background-color: #10161A !important;

     background-image: linear-gradient(90deg,rgba(48,64,77,0) 0,#10161A 40%);
    background-image: -moz-linear-gradient(top, #10161A, #10161A 85%, #10161A);
    background-image: -o-linear-gradient(#10161A, #10161A 85%, #10161A);
    background-image: linear-gradient(#10161A, #10161A 85%, #10161A);

    background-repeat: no-repeat;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #293742 !important;
}



.dark .card-header{
   background-color:  transparent !important;
}

.dark .nav-tabs .nav-link:focus,
.dark .nav-tabs .nav-link:hover {
    border-color: hsla(0,0%,100%,.15) !important;
}

.dark .nav-tabs .nav-item.show .nav-link,
.dark .nav-tabs .nav-link.active {
    color: rgb(240, 185, 11) !important;
    font-weight: bold;
    border-color: hsla(0,0%,100%,.15) !important;
}

.dark .card-header{
    border-bottom: 1px solid #182026 !important;
}
.dark .card-header > a > h5 {
    color: rgb(240, 185, 11) !important;
}

.dark .page-link{
    color: #bfccd6 !important;
}

.dark .paginate_button.page-item.active > a{
    color: #fff !important;
}

.dark .page-link:hover{
    color: #fff !important;
}

.dark .nav-tabs .nav-link {
    color: #bfccd6 !important;
}

.dark .currency-tabs{
    border-bottom: 1px solid #182026 !important;
}


.dark .list-group-item {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
}
.dark .dwcurrency-item{
    background-color: transparent !important;
}
.dark .wallet-table {
    background: transparent !important;
}

.dark table{
    color: #fff !important;
}

.dark .nav-user {
    background-color: #10161A !important;
    border-left: 1px solid #182026 !important;
    border-right: 1px solid #182026 !important;

}

.dark .currency-tabs .tab-item.active {
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid hsla(0,0%,100%,.15) !important;
}

.dark .ratio-content .ratio-item {
    color: #bfccd6;
    border: 1px solid #182026 !important;
}
.dark .ratio-content .ratio-item:hover {
    color: #fff !important;
}

.dark .currency-tabs .tab-item.active .tab-item-text {
    color: rgb(240, 185, 11) !important;
    font-weight: bold;
}
.dark .text-muted{
    color: rgb(240, 185, 11) !important;
}

.dark .currency-tabs .tab-item .tab-item-text{
    color: #bfccd6 !important;
}

.dark .modal-content{
    background-color: #10161A !important;

}
.dark .select2-dropdown{
    background-color: #10161A !important;
    color:#bfccd6 !important;
    border: 1px solid #182026 !important;
}

.dark .select2-search__field{
    background-color: #10161A !important;
    border: 1px solid #182026 !important;
    color:#bfccd6 !important;
}
.dark .input-group-text{
    background-color: #10161A !important;
    border: 1px solid #182026 !important;
    color:#bfccd6 !important;
}
.dark hr {
    border-top: 1px solid #182026 !important;

}
.dark .select2-container--bootstrap4 .select2-selection{
border:1px solid #182026 !important
}

.dark .page-link{
    border: 1px solid #182026 !important;
    background-color: transparent !important;
}
.dark .chat_window{
    border: none !important;
    background-color: transparent;
}
.dark .bottom_wrapper{
    background-color: transparent !important;
}
.dark .bottom_wrapper .message_input_wrapper .message_input{
    border-left:none !important;
    border-right: none !important;
    background-color: transparent !important;
    color: #fff;

}
.dark .bottom_wrapper .message_input_wrapper{
    border: 1px solid #182026 !important;
}

.dark .border {
    border: 1px solid #182026 !important;
    border-left-color: hsla(0,0%,100%,.15) !important;
    border-left-style: solid;
    border-left-width: 1px;
}

.dark .orderbook-list-short li > input,
.dark .form-control{
    border: 1px solid #182026 !important;
    color:#fff !important;
    background-color: #10161A !important;

}

.dark #orderBookTitle,
.dark #orderHistoryTitle {
    border-bottom: 1px solid #182026 !important;
    color: #bfccd6 !important;
}

.dark .modal-header,
.dark .nav-tabs,
.dark .table thead th {
    border-bottom: 1px solid #182026 !important;
}

.dark .lastPrice {
    border-bottom: 1px solid #182026 !important;
    border-top:1px solid #182026 !important;

}

.dark .merchant-footer{
    background-color: rgba(16,22,26,.3) !important;

    border-top:1px solid #182026 !important;
}

.dark .modal-header{
    background-color: rgba(16,22,26,.3) !important;
    color:#bfccd6 !important
}

.dark .modal-footer,
.dark .table td,
.dark .table th {
    border-top:1px solid #182026 !important;
}

.dark .btn-light{
    border:1px solid #182026 !important;
    background: transparent !important;
    color: #fff !important;
}

.dark td{border:none !important;}
.dark .table-head{
    border:none !important;
}
.dark .percent.bid {
    background: rgba(115, 201, 33, 0.5);
}

.dark .percent.ask {
    background: rgba(202, 44, 120, 0.5);
}

.dark table tr > td {
    padding: 6px !important;
}
.dark table tbody > tr:hover{
    background: rgba(245, 248, 250, 0.2) !important;
    cursor:pointer !important;
}

.dark .list-group{
    background-color: #10161A !important;
    border:1px solid #182026 !important;
    border-radius: 4px !important;
}


::before, ::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.dark .list-group > a:hover {

    background-image: -webkit-gradient(linear,left top,right top,from(rgba(48,64,77,0)),color-stop(40%,#10161A));
    background-image: linear-gradient(90deg,rgba(48,64,77,0) 0,#10161A 40%);

}
.dark .list-group-item.active {

    background: none !important;
    background-color: #10161A !important;
    color: #bfccd6 !important;

}
.dark .list-group > a {

    color: #bfccd6 !important;

}
.list-group > a:hover {

    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;

}
.dark .list-group-item {

    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);

}
.dark .list-group-item.active {
    border-left: 3px solid rgb(240, 185, 11) !important;
}

.dark .list-group > a{
    color: #bfccd6 !important;
}

.dark .list-group-item.active {
    background: none !important;
    background-color: #10161A !important;
    color: #bfccd6 !important;
}

.dark .list-group >a:hover{
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(48,64,77,0)),color-stop(40%,#10161A));
    background-image: linear-gradient(90deg,rgba(48,64,77,0) 0,#10161A 40%);
}

.dark .navbar-nav > li > a {
    color: #bfccd6 !important;

}

.dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dark .note-editor.note-frame .note-editing-area .note-editable {
    color: #fff;
    background-color: #10161A;

}

.dark pre{
    color: #bfccd6 !important;
}

.dark table.dataTable.dtr-column > tbody > tr > td.control::before,
.dark table.dataTable.dtr-column > tbody > tr > th.control::before{
    background-color: #10161A !important;
    border:2px solid rgb(240, 185, 11) !important;
    font-weight: bolder;
}

.dark .navbar-nav .active > a {
    background-color: #182026 !important;
    border-bottom: 5px solid #bfccd6 !important;
    margin-top: -5px !important;
}

.dark .merchant-footer .mer-footer ul li a {
    color: #bfccd6 !important;
    text-shadow: none !important;
    text-decoration: none;
}
.dark .merchant-footer .mer-footer ul li a:hover {
    color: #fff !important;
}


.dark .text-dark-bluish{
    background-color: transparent !important;
    color: #CED9E0 !important;
}

.dark .currency-addon{
    border:1px solid #182026 !important;
    background-color: #10161A !important;
    border-left: none !important;
}

.dark .btn-copy{
    border:1px solid #182026 !important;
    border-left: none !important;
    color: #fff;
}


.dark .currency-input{
    border-right: none !important;
}


.dark tbody tr:hover td,
.dark tbody tr:hover th {

}

.dark .coinsTable .active::before {
    background-image: linear-gradient(40deg, #f6cc41 0%, #f0b90b 51%, #f6cc41 90%);
}

@media only screen and (max-width: 990px) {
    .dark .navbar-nav li{
        border: 1px solid #182026 !important;
    }
}

.dark #btnIncrementSellAmount,
.dark #btnIncrementBuyAmount{
    border-top: 1px solid #182026 !important;
    border-bottom: 1px solid #182026 !important;
}


.dark .exnce_pairs {
    background-color: #10161A;
    border-right: 1px solid #182026 !important;
}
.dark .outer-most .side-panel .side-panel-overlay{
    border-right: 1px solid #182026 !important;
}

.dark .outer-most .front-area .content-container .projects .go-back-indicator,
.dark .outer-most .front-area .content-container .projects .skills{
    border-left: 1px solid #182026 !important;

}

.dark ::-webkit-scrollbar-track {
    background: #10161A;
    background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb {
    background: #10161A;
    border: 1px solid #10161A;
    border-radius: 5px;
}

.dark table.dataTable > tbody > tr.child ul.dtr-details > li{
    border-bottom: 1px solid #182026 !important;
}

.dark .highcharts-axis-line,
.dark .highcharts-grid-line {
    stroke: #182026 !important;
}

.dark .chatbro_message_info{
    color: rgb(240, 185, 11) !important;
}
.dark .chatbro_message_text{
    color: #fff !important;
}
.dark .chatbro_send_button,
.dark .chatbro_open_upload_button,
.dark .chatbro_open_smiles_button,
.dark .chatbro_send,
.dark .chatbro_send_input,
.dark .chatbro_messages_block,
.dark .chatbro_messages_wrapper,
.dark .chatbro_messages_space,
.dark .chatbro_header_button,
.dark .chatbro_title,
.dark .chatbro_header{
    background-color: transparent !important;
    color:#bfccd6 !important;
}

.dark .chatbro_send_input_block,
.dark .chatbro_bottom_border{
    border:1px solid #182026 !important;
}