
<div id="chart-container"></div>

<script src="https://vebitcoin.com/theme/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/charting_library/charting_library.min.js"></script>
<script type="text/javascript" src="/datafeeds/udf/dist/polyfills.js"></script>
<script type="text/javascript" src="/datafeeds/udf/dist/bundle.js"></script>
<script type="text/javascript" src="/js/TradingViewChart.js?v=9PIdv0dcR8dDegpaxfTUYTRU7m6t7G3CWctME56rnAk"></script>
<script type="text/javascript">

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    $(document).ready(function () {
        const marketPair =  getParameterByName("symbol") || 'XLM-ETH';
        const publicApiUrl = document.location.origin + '/api';
        const chart = new TradingViewChart("chart-container", publicApiUrl);
        chart.load(marketPair, marketPair);
    });
</script>
<style>
    body {
        padding: 0 !important;
        margin: 0 !important;
    }
</style>