@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@font-face {
font-family: "Universal Doomsday";
src: url("../fonts/Universal Doomsday.ttf");
font-weight: 400;
}
@font-face {
font-family: "Universal Doomsday";
src: url("../fonts/Universal Doomsday Light.ttf");
font-weight: 300;
}
@font-face {
font-family: "Universal Doomsday";
src: url("../fonts/Universal Doomsday Bold.ttf");
font-weight: bold;
}
@font-face {
font-family: "Poppins";
src: url("../fonts/Poppins-Light.ttf");
font-weight: lighter;
}
@font-face {
font-family: "Poppins";
src: url("../fonts/Poppins-Regular.ttf");
font-weight: normal;
}
@font-face {
font-family: "Poppins";
src: url("../fonts/Poppins-Medium.ttf");
font-weight: 500;
}
@font-face {
font-family: "Poppins";
src: url("../fonts/Poppins-Bold.ttf");
font-weight: bold;
}
body{
  font-family: "Universal Doomsday";
  overflow-x: hidden;
}
a:hover, .btn:hover, .currencies-item:hover, .form-control:focus{
  transition: box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
#slogan{
  margin-top: 50px;
}
.owl-carousel .owl-nav .owl-prev{
  position: absolute;
  top: 22%;
  left: 0%;
}
.owl-carousel .owl-nav .owl-next{
  position: absolute;
  top: 22%;
  right: 0%;
}
.active-table-link::after{
  content: '';
  height: 3px;
  width: 110px;
  background-color: #3385cd;
  position: absolute;
  left: 0;
  top: 105px;
  right: 0%;
  bottom: 0;
  margin: 0 auto;
}
.nav-tabs .nav-item{
  margin: 0 auto;
}
@media only screen and (min-width: 767px) {
  #slogan{
    margin-top: 160px;
  }
  .nav-tabs .nav-item{
    margin: 0;
  }
  .table-responsive{
    display: table;
  }
  .owl-carousel .owl-nav .owl-prev{
    position: absolute;
    top: 22%;
    left: 2%;
  }
  .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 22%;
    right: 2%;
  }
  .active-table-link::after{
    content: '';
    height: 3px;
    width: 110px;
    background-color: #3385cd;
    position: absolute;
    left: 0;
    top: 41px;
    right: 39%;
    bottom: 0;
    margin: 0 auto;
  }
  .second-nav-first-item{
    border-bottom-left-radius: 30px;
  }
}
.btn-login{
  width: 100%;
}
.slide{
  text-decoration: none;
  display: inline-block;
  outline: none!important;
}
.box{
  display: inline-flex;
  overflow: hidden;
}
.sub-nav{
  display: inline-table;
  margin-right: 10px;
}
.sub-hidden{
  display: none;
}
.sub-hidden.show{
  display: inline-table;
}
.nav-btns{
  display: inline-flex;
}
.nav-btns.show{
  position: absolute;
  top: 70px;
  right: 0;
}
.parent-rate{
  width: 170px;
}
.rate-top{
  vertical-align: middle;
  width: 120px;
  line-height: 1;
}
#fade-in{
  height: 50px;
  width: 400px;
  opacity: 1;
  transition: all .75s ease;
  overflow: hidden;
}
#fade-in.show {
  opacity: 1;
  height: 50px;
  width: 100%;
}
#main{
  background-image: url('../images/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1080px;
  background-position-x:  47%;
}

#currencies{
  margin-top: 260px;
}
#signup{
  margin-top: 105px;
}
#features{
  background-image: url('../images/features-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  background-position-x: 250px;
  background-position-y:  center;
  margin-top: 150px;
}
#app{
  background-image: url('../images/ma-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1080px;
  background-position-x:  50%;
}
#footer{
  background-color: #eef4f8;
  color: #79a2b1;
  padding: 60px 0 35px 0;
  margin-top: 100px;
}
#sub-footer{
  background-color: #153a5b;
  color: #79a2b1;
  padding: 60px 0 35px 0;
}
.slogan-heading{
  font-size: 34px;
  margin-right: 20px;
}
.slogan-heading >span{
  font-size: 29px;
}
.signup-input{
  padding: 13px 20px;
}
.rounded-soft{
  border-radius: 2rem;
}
.rounded-soft-y{
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.rounded-s-soft{
  border-radius: 0.5rem;
}
.btn-shadow{
  -webkit-box-shadow: -5px 14px 44px -12px rgba(11,79,90,1);
  -moz-box-shadow: -5px 14px 44px -12px rgba(11,79,90,1);
  box-shadow: -5px 14px 44px -12px rgba(11,79,90,1);
}
.btn-group-shadow{
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}
.colored-placeholder::placeholder{
  color: #586c96;
}
.bg-grey{
  background-color: #e2e2e2;
}
.bg-sky{
  background-color: #0fbdf4;
}
.bg-light-success{
  background-color: #31d859;
}
.bg-blue-ocean{
  background-color: #4990e1;
}
.signup-btn:hover, .signup-btn:focus{
  cursor: pointer;
  background: #09c5f7;
}
.signup-form-bg{
  width: 90%;
  height: 400px;
}
.bg-dark-sky{
  background-color: #3385cd;
}
.opacity{
  opacity: 0;
}
.opacity-1{
  opacity: 1;
}
.signup-img-1{
  opacity: 1!important;
}
.signup-img.opacity-1{
  opacity: 1;
  transition: all .75s ease;
}
.signup-number.display-1{
  display: block;
  transition: all .75s ease;
}
.signup-number-1, .signup-number-2, .signup-number-3{
  display: none;
  transition: all .75s ease;
}
.signup-img-1, .signup-img-2, .signup-img-3{
  left: -16%;
  opacity: 0;
  transition: all .75s ease;
}
.signup-num{
  right: 14%;
}
.signup-num >h1{
  font-size: 150px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.3)
}
.bg-sky-gradient{
  background: rgba(21,178,240,1);
  background: -moz-linear-gradient(left, rgba(21,178,240,1) 0%, rgba(0,217,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(21,178,240,1)), color-stop(100%, rgba(0,217,255,1)));
  background: -webkit-linear-gradient(left, rgba(21,178,240,1) 0%, rgba(0,217,255,1) 100%);
  background: -o-linear-gradient(left, rgba(21,178,240,1) 0%, rgba(0,217,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(21,178,240,1) 0%, rgba(0,217,255,1) 100%);
  background: linear-gradient(to right, rgba(21,178,240,1) 0%, rgba(0,217,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15b2f0', endColorstr='#00d9ff', GradientType=1 );
}
.bg-dark-sky-gradient{
  background: rgba(132,230,255,1);
  background: -moz-linear-gradient(left, rgba(132,230,255,1) 0%, rgba(0,99,248,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(132,230,255,1)), color-stop(100%, rgba(0,99,248,1)));
  background: -webkit-linear-gradient(left, rgba(132,230,255,1) 0%, rgba(0,99,248,1) 100%);
  background: -o-linear-gradient(left, rgba(132,230,255,1) 0%, rgba(0,99,248,1) 100%);
  background: -ms-linear-gradient(left, rgba(132,230,255,1) 0%, rgba(0,99,248,1) 100%);
  background: linear-gradient(to right, rgba(132,230,255,1) 0%, rgba(0,99,248,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84e6ff', endColorstr='#0063f8', GradientType=1 );
}
.currencies-item{
  height: 180px;
  width: 100%;
  padding: 5px 0 10px 0;
  font-family: "Poppins"!important;
  color: #90cbfa!important;
  font-size: 14px;
  border-radius: 0.5rem;
  -webkit-box-shadow: -5px 14px 44px -12px rgba(228,228,228,1);
  -moz-box-shadow: -5px 14px 44px -12px rgba(228,228,228,1);
  box-shadow: -5px 14px 44px -12px rgba(228,228,228,1);
  cursor: pointer;
}
.currencies-item:hover{
  -webkit-box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
  -moz-box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
  box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
  background-color: #0fbdf4!important;
  color: #fff!important;
}
.currencies-item >i{
  font-size: 6rem;
  fill: #C1DFE7!important;
}
.currencies-item-active{
  background-color: #0fbdf4!important;
  color: #fff!important;
  box-shadow: none;
}
.currencies-item-active >i{
  font-size: 6rem;
  fill: #fff!important;
}
.currency-nav-item{
  cursor: pointer;
}
.currency-nav-item >p{
  color: #90cbfa!important;
}
.currency-nav-item div >button{
  cursor: pointer;
  font-size: 12px;
  font-family: "Poppins";
}
.currency-nav-item >i{
  font-size: 2rem;
  fill: #c1dfe7!important;
  color: #c1dfe7!important;
}
.currency-nav-item >.btn-group{
  opacity: 0;
}
.currency-nav-item-active >i{
  fill: #3385cd!important;
  color: #3385cd!important;
}
.currency-nav-item-active >p{
  color: #3385cd!important;
}
.currency-nav-item-active >.btn-group{
  opacity: 1;
}
.signup-listing-num-1, .signup-listing-num-2, .signup-listing-num-3{
  width: 35px;
  height: 35px;
  padding: 6px;
  cursor: pointer;
}
.process-line{
  background-color: #0fbdf4;
  width: 140px;
  height: 1px;
}
.process-line::after{
  content: '';
  position: absolute;
  top: 44px;
  border-radius: 10px;
  background-color: #0fbdf4;
  width: 9px;
  height: 9px;
}
.process-line::before{
  content: '';
  position: absolute;
  top: 44px;
  right: 60px;
  border-radius: 10px;
  background-color: #0fbdf4;
  width: 9px;
  height: 9px;
}
.feature-title{
  color: #43474b;
  font-size: 18px;
  font-family: "Poppins"!important;
}
.feature-description{
  color: #9696b0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.app-img{
  margin-top: 70%;
}
.app-title{
  font-size: 48px;
}
.btn-app{
  width: 180px!important;
}
.btn-app:hover, .btn-app:focus{
  background: #09c5f7;
}
.subsribe-wrapper{
  border: solid 1px #b5b8ed;
  padding: 5px 0;
  border-radius: 3rem;
}
.btn-subscribe{
  background-color: #4d8ee5;
  width: 62px;
  height: 60px;
}
.btn-subscribe:hover, .btn-subscribe:focus{
  background-color: #09C5F7;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 31px -1px rgba(77,142,229,1)!important;
  -moz-box-shadow: 0px 0px 31px -1px rgba(77,142,229,1)!important;
  box-shadow: 0px 0px 31px -1px rgba(77,142,229,1)!important;
}
.input-email{
  padding: 6px 10px;
}
.input-email::placeholder{
  color: #c3c5e8!important;
}
.subscribe-title{
  font-size: 30px!important;
  font-family: "Poppins";
}
.footer-list>li:before{
    content: "";
    display: list-item;
    position: absolute;
}
.footer-list >li{
  display: inline-block;
  margin-right: 50px;
}
.social-icon{
  width: 25px;
  height: 25px;
  border-radius: 1rem;
  background-color: #79a2b1;
  color: #eef4f8;
  cursor: pointer;
  padding: 1px 0;
  text-align: center;
}
.form-control:focus{
  border-color: rgba(0, 0, 0, 0)!important;
  -webkit-box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
  -moz-box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
  box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
}
.btn:hover, .btn:focus{
  -webkit-box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
-moz-box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
box-shadow: 0px 0px 31px -1px rgba(9,154,222,1);
}
.no-shadow{
  box-shadow: none!important;
}
.text-primary{color: #0fbdf4!important}.text-dark{color: #132c66!important;}.text-secondary{color: #616d8a!important;}.text-success{color: #1c9839!important;}.text-danger{color: #fd3c45!important;}.text-muted{color: #90cbfa!important;}
.text-app{color: #1d3f59!important;}.text-success-small{color: #65ff4c;}.text-dark-sky{color: #3385cd!important;}.text-dark-bluish{color: #436c95!important}.text-table{color: #557897!important;}
.text-zombie-blue{color: #79a2b1!important;}.text-modern-blue{color: #4990e1!important;}.text-zombie-light-blue{color: #9db0c5!important;}.text-navy-blue{color: #445561!important;}
.btn-tooltip-left::before, .btn-tooltip-right::before{
  content: '';
  position: absolute;
}
.btn-tooltip-left::before{
  color: #3385cd00;
  border: solid;
  border-width: 10px;
  border-right-color: #fff;
  top: -10px;
  right: -1px;
}
.btn-tooltip-right::before{
  color: #3385cd00;
  border: solid;
  border-width: 10px;
  border-left-color: #3385cd;
  top: -10px;
  left: -1px;
}
.box-shadow{
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
}
.stats-card{
  font-family: "Poppins";
}
.footer-card-border-green{
  border-bottom: solid 10px #31d859;
}
.footer-card-border-blue{
  border-bottom: solid 10px #4990e1;
}
.card-bottom-border{
  border-bottom-left-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}
.card-span{
  width: 60px;
  height: 5px;
  border-bottom-left-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
}
.small-text{
  font-size: 12px!important;
}
.currency-input{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: #4990e1;
  color: #4990e1;
}
.currency-addon{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sub-nav-active{
  background-color: #59a6e9;
}
.sub-nav-active >a{
  color: #fff!important;
}
.logo-icon{
  top: 40px;
}
.user-account{
  width: 190px;
  border-radius: 15px;
}
.table-head{
  font-family: "Poppins";
  font-size: 11px;
  color: #246197;
  border-bottom: solid 2px #3385cd;
}
.owl-nav-icon{
  background-color: #3385cd;
    color: #fff;
    width: 20px;
    height: 20px;
    padding: 1px 0 0 0;
    text-align: center;
    border-radius: 25px;
}
.owl-currency-icon{
  color: #c0c0c0;
  text-align: center;
  font-size: 28px;
}
.owl-currency-icon-active{
  background-color: #f7921a;
  color: #fff!important;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  text-align: center;
  font-size: 28px;
  padding: 3px 0;
}
.card-form::placeholder{
  font-size: 10px;
  font-family: "Poppins";
  color: #708ca5;
}
.user-btn{
  width: 35px;
  height: 35px;
  padding: 3px 0;
  text-align: center;
  cursor: pointer;
}
.table-title-border{
  border-color: #cde0f0!important;
  border-width: 2px;
}
.table-title-r, .table-title-l{
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
}
.table-title-l::after{
  content: '';
  height: 3px;
  width: 150px;
  background-color: #3385cd;
  position: absolute;
  left: 54%;
  top: 16px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.table-title-r::after{
  content: '';
  height: 3px;
  width: 140px;
  background-color: #3385cd;
  position: absolute;
  left: 0;
  top: 16px;
  right: 56%;
  bottom: 0;
  margin: 0 auto;
}
.table-wrapper{
  height: 352px;
  overflow-y: scroll;
}
.table-wrapper::-webkit-scrollbar {
    width: 12px;
}
.table-wrapper::-webkit-scrollbar-track {
    background-color: #f2f8f8;
    border-radius: 10px;
}
.table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3385cd;
    height: 60px;
}
.pagination-item{
  background-color: #cde0f0;
width: 23px;
height: 23px;
text-align: center;
border-radius: 3px;
}
.pagination-item >a, .pagination-item >a:hover{
  color: #64839f;
  text-decoration: none;
}
.pageination-table-title{
  font-weight: "Poppins";
  font-size: 14px;
  color: #11497a;
  font-weight: 500;
  border-bottom: solid 2px #3385cd;
}
.pointer{
  cursor: pointer;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu{
  left: -50%;
  border: none;
  border-radius: 15px;
}
.last-item-dropdown{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.first-item-dropdown{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #3385cd;
  color: #fff!important;
}
.dropdown-item{
  font-size: 12px;
}
button:focus{
  outline: none!important;
}
.owl-border{
  border: solid 1px;
  border-radius: 30px;
  padding: 4px 7px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}
.border-modern-blue{
  border-color: #4990e1!important;
}
.nav-tabs .nav-link{
  color: #246197;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-color: #3385cd!important;
  color: #246197;
  border-width: 3px;
}
.o-title{
  font-size: 16px;
}
