@-webkit-keyframes highlight-animation {
    0% {
        background: transparent
    }
    to {
        background: #fff2cf
    }
}

@keyframes highlight-animation {
    0% {
        background: transparent
    }
    to {
        background: #fff2cf
    }
}

@-webkit-keyframes highlight-animation-theme-dark {
    0% {
        background: transparent
    }
    to {
        background: #194453
    }
}

@keyframes highlight-animation-theme-dark {
    0% {
        background: transparent
    }
    to {
        background: #194453
    }
}